body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* Header:  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  z-index: 1
  background: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  width: 100%;



}

.logo {
  display: flex;
  align-items: center;

}

.mt {
 color: mediumaquamarine;
 padding-left: 10px;
 padding-right: 10px;
}

a {
  color: black;
}

nav span {
 display: inline-block;
 padding-right: 55px;
 }


 /* Main Container:  */

 .container {
   display: flex;
   justify-content: space-between;
   margin-top: 35px;
 }

 .clmn1 {
   width: 630px;
 }

 .clmn2 {
   width: 300px;
 }

 .clmn3 {
   width: 240px;
 }

.cookie {

}
